<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>{{uiLabelMap.APISetNewPassword}}</ion-title>
      <ion-icon class="icon-right" name="lock"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
  
      </button>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>{{uiLabelMap.APIEmail}}</ion-label>
        <ion-input type="text" readonly [(ngModel)]="input.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{uiLabelMap.APIRecoveryCode}}</ion-label>
        <ion-input type="text" [(ngModel)]="input.recoveryCode" name="recoveryCode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{uiLabelMap.APIPassword}}</ion-label>
        <ion-input type="password" [(ngModel)]="input.currentPassword" name="currentPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{uiLabelMap.APIConfirmPassword}}</ion-label>
        <ion-input type="password" [(ngModel)]="input.currentPasswordVerify" name="currentPasswordVerify"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full large (click)="setPassword()">{{uiLabelMap.APISetPassword}}</button>
      </ion-item>
    </ion-list>
  </ion-content>
  